<!doctype html>
<html lang="en">

<head>
    <title>Team 2019-20 | BloomBox, E-Cell KJSCE</title>
    <link rel="icon" type="image/ico" href="../../../_images/BloomBox, E-Cell KJSCE - Logo Small.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="BloomBox, E-Cell KJSCE is the student run non-profit organization Entrepreneurship promoting body at K. J. Somaiya College of Engineering, Mumbai">
    <meta name="google-site-verification" content="sfZdBesrUXPWwnmytZsgEymdT_Brz2EvjYQ36cPVM94">
    <meta name="keywords" content="BloomBox, E-Cell, team, students, ecell, team, students, KJSCE, k j  somaiya college of engineering, entrepreneurship, edc, entrepreneurship development cell, entrepreneurship cell">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="author" content="Team BloomBox">
    <meta name="geo.region" content="IN">
    <link rel="canonical" href="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Common Main CSS-->
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/navigation.css">

    <!-- Team 2019-20 page CSS-->
    <link rel="stylesheet" href="/profile-cards.css">
    <link rel="stylesheet" href="/team.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="../../../_images/BloomBox, E-Cell KJSCE - Logo.png" alt="BloomBox - Logo" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campus-company">Campus Company</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../../events.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Events
                            </a>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../../../pages/events/2019-20/events.html">2019-20</a>
                            <a class="dropdown-item" href="../../../pages/events/2018-19/events.html">2018-19</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Articles</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../../partners.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Partners
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pages/partners/2019-20/partners">2018-19</a>
                            <a class="dropdown-item" href="/pages/partners/2018-19/partners">2019-20</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../../team.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Team
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item active" href="/pages/team/2019-20/team">2019-20</a>
                            <a class="dropdown-item" href="/pages/team/2018-19/team">2018-19</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h1>Team 2019-20</h1>
    </div>
    <div>
        <div class="team-post">
            <h3>Chairperson</h3>
        </div>
        <div class="wrapper wrapper">
            <div id="chairperson">
                <div class="card" id="akshita-biyani">
                    <img src="../_images/profile-female.jpg" alt="Akshita Biyani Profile Photo" />
                    <div class="info">
                        <h2>Akshita Biyani</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center">
                            <button style="background-image: url(../../../_images/facebook.svg)"></button>
                            <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-post">
            <h3>Vice Chairperson</h3>
        </div>
        <div class="wrapper">
            <div id="vice-chairperson">
                <div class="card" id="heeral-dedhia">
                    <img src="../_images/profile-female.jpg" alt="Heeral Dedhia Profile Photo">
                    <div class="info ">
                        <h2>Heeral Dedhia</h2>
                        <p>VC &hyphen; Corporate Relations</p>
                        <a href="mailto:email-id@somaiya.edu ">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center ">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
                <div class="card" id="charmi-savla">
                    <img src="../_images/profile-female.jpg" alt="Charmi Savla Profile Photo">
                    <div class="info ">
                        <h2>Charmi Savla</h2>
                        <p>VC &hyphen; Events &amp; Logistics</p>
                        <a href="mailto:email-id@somaiya.edu ">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center ">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-post">
            <h3>Finance &amp; Marketing Secretary</h3>
        </div>
        <div class="wrapper">
            <div id="finance-and-marketing-secretary">
                <div class="card" id="baiju-dodhia">
                    <img src="../_images/profile-male.jpg" alt="Baiju Dodhia Profile Photo" />
                    <div class="info ">
                        <h2>Baiju Dodhia</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center ">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-post">
            <h3>Marketing Team</h3>
        </div>
        <div class="wrapper">
            <div id="marketing-team">
                <div class="card" id="aniket-kulkarni">
                    <img src="../_images/profile-male.jpg" alt="Aniket Kulkarni Profile Photo" />
                    <div class="info ">
                        <h2>Aniket Kulkarni</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center ">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
                <div class="card" id="nidhi-jajda">
                    <img src="../_images/profile-female.jpg" alt="Nidhi Jajda Profile Photo">
                    <div class="info ">
                        <h2>Nidhi Jajda</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
                <div class="card" id="tanisha-ashar">
                    <img src="../_images/profile-female.jpg" alt="Tanisha Ashar Profile Photo" />
                    <div class="info ">
                        <h2>Tanisha Ashar</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="marketing-team">
                <div class="card" id="sanyam-gandhi">
                    <img src="../_images/profile-male.jpg" alt="Sanyam Gandhi Profile Photo">
                    <div class="info ">
                        <h2>Sanyam Gandhi</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
                <div class="card" id="jay-jain">
                    <img src="../_images/profile-male.jpg" alt="Jay Jain Profile Photo">
                    <div class="info ">
                        <h2>Jay Jain</h2>
                        <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                        <div style="display:flex; align-content: center;justify-content:center">
                            <button style="background-image: url(../../../_images/facebook.svg) "></button>
                            <button style="background-image: url(../../../_images/linkedin.svg) "></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-post">
        <h3>Campus Company Head</h3>
    </div>
    <div class="wrapper">
        <div id="campus-company-head">
            <div class="card" id="niket-mehta">
                <img src="../_images/profile-male.jpg" alt="Niket Mehta Profile Photo" />
                <div class="info">
                    <h2>Niket Mehta</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-post">
        <h3>Events &amp; Public Relations Head</h3>
    </div>
    <div class="wrapper">
        <div id="events-and-pr-head">
            <div class="card" id="chaitanya-tamhankar">
                <img src="../_images/profile-male.jpg" alt="Chaitanya Tamhankar Profile Photo" />
                <div class="info">
                    <h2>Chaitanya Tamhankar</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-post">
        <h3>Events &amp; Public Relations Team</h3>
    </div>
    <div class="wrapper">
        <div id="events-and-pr-team">
            <div class="card" id="krunal-dattani">
                <img src="../_images/profile-male.jpg" alt="Krunal Dattani Profile Photo" />
                <div class="info">
                    <h2>Krunal Dattani</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="niyati-mervana">
                <img src="../_images/profile-female.jpg" alt="Niyati Mervana Profile Photo" />
                <div class="info">
                    <h2>Niyati Mervana</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="devesh-lalluwadia">
                <img src="../_images/profile-male.jpg" alt="Devesh Lalluwadia Profile Photo" />
                <div class="info">
                    <h2>Devesh Lalluwadia</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>

        </div>
        <div id="events-and-pr-team">
            <div class="card" id="fenny-keniya">
                <img src="../_images/profile-female.jpg" alt="Fenny Keniya Profile Photo" />
                <div class="info">
                    <h2>Fenny Keniya</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="jash-''">
                <img src="../_images/profile-male.jpg" alt="Jash '' Profile Photo" />
                <div class="info">
                    <h2>Jash ''</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="dhruman-gohil">
                <img src="../_images/profile-male.jpg" alt="Dhruman Gohil Profile Photo" />
                <div class="info">
                    <h2>Dhruman Gohil</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-post">
        <h3>Social Media &amp; Content Team</h3>
    </div>
    <div class="wrapper">
        <div id="social-media-and-content-team">
            <div class="card" id="shantanu-godbole">
                <img src="../_images/profile-male.jpg" alt="Shantanu Godbole Profile Photo" />
                <div class="info">
                    <h2>Shantanu Godbole</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="Vruksha Joshi">
                <img src="../_images/profile-female.jpg" alt="Vruksha Joshi Profile Photo" />
                <div class="info">
                    <h2>Vruksha Joshi</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-post">
        <h3>Technical Team</h3>
    </div>
    <div class="wrapper">
        <div id="technical-team">
            <div class="card" id="vedang-parasnis">
                <img src="../_images/profile-male.jpg" alt="Vedang Parasnis Profile Photo" />
                <div class="info">
                    <h2>Vedang Parasnis</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="aagam-shah">
                <img src="../_images/profile-male.jpg" alt="Aagam Shah Profile Photo" />
                <div class="info">
                    <h2>Aagam Shah</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-post">
        <h3>Social Team</h3>
    </div>
    <div class="wrapper">
        <div id="social-team">
            <div class="card" id="sejal-chordiya">
                <img src="../_images/profile-female.jpg" alt="Sejal Chordiya Profile Photo" />
                <div class="info">
                    <h2>Sejal Chordiya</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="krish-parekh">
                <img src="../_images/profile-male.jpg" alt="Krish Parekh Profile Photo" />
                <div class="info">
                    <h2>Krish Parekh</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="social-team">
            <div class="card" id="imtiyaz-shaikh">
                <img src="../_images/profile-male.jpg" alt="Imtiyaz Shaikh Profile Photo" />
                <div class="info">
                    <h2>Imtiyaz Shaikh</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
            <div class="card" id="bishandeep-arora">
                <img src="../_images/profile-female.jpg" alt="Bishandeep Arora Profile Photo" />
                <div class="info">
                    <h2>Bishandeep Arora</h2>
                    <a href="mailto:email-id@somaiya.edu">email-id@somaiya.edu</a>
                    <div style="display:flex; align-content: center;justify-content:center">
                        <button style="background-image: url(../../../_images/facebook.svg)"></button>
                        <button style="background-image: url(../../../_images/linkedin.svg)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-padding"></div>
    <footer>
        <div class="footer-container">
            <div class="useful-links">
                <h4>Useful Links</h4>
                <h5>Link 1</h5>
                <h5>Link 2</h5>
                <h5>Link 3</h5>
                <h5>Link 4</h5>
            </div>
            <div class="contact-us">
                <h4>Contact Us</h4>
                <div id="contact-us">
                    <a href="tel:08767076522" id="footer-phone">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <h5>+91 9876543210</h5>
                    </a>
                    <a href="mailto:baiju.dodhia@somaiya.edu" id="footer-email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h5>bloombox.kjsce@somaiya.edu</h5>
                    </a>
                </div>
            </div>
            <div class="social-media">
                <h4>Follow Us</h4>
                <div id="social-media">
                    <div id="footer-facebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>Facebook</h5>
                        </a>
                    </div>
                    <div id="footer-instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>Instagram</h5>
                        </a>
                    </div>
                    <div id="footer-linkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>LinkedIn</h5>
                        </a>
                    </div>
                    <div id="footer-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>Twitter</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="developedby">
            <h5>&copy; Developed by Team BloomBox</h5>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>