<footer>
        <div class="footer-container">
            <div class="useful-links">
                <h4>Useful Links</h4>
                <h5>Link 1</h5>
                <h5>Link 2</h5>
                <h5>Link 3</h5>
                <h5>Link 4</h5>
            </div>
            <div class="contact-us">
                <h4>Contact Us</h4>
                <div id="contact-us">
                    <a href="tel:08767076522" id="footer-phone">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <h5>+91 9876543210</h5>
                    </a>
                    <a href="mailto:baiju.dodhia@somaiya.edu" id="footer-email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h5>bloombox.kjsce@somaiya.edu</h5>
                    </a>
                </div>
            </div>
            <div class="social-media">
                <h4>Follow Us</h4>
                <div id="social-media">
                    <div id="footer-facebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>Facebook</h5>
                        </a>
                    </div>
                    <div id="footer-instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>Instagram</h5>
                        </a>
                    </div>
                    <div id="footer-linkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>LinkedIn</h5>
                        </a>
                    </div>
                    <div id="footer-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <a href="" target="_blank">
                            <h5>Twitter</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="developedby">
            <h5>&copy; Developed by Team BloomBox</h5>
        </div>
    </footer>