<!doctype html>
<html lang="en">

<head>
    <title>Partners 2018-19 | BloomBox, E-Cell KJSCE</title>
    <link rel="icon" type="image/ico" href="../../../_images/BloomBox, E-Cell KJSCE - Logo Small.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="BloomBox, E-Cell KJSCE is the student run non-profit organization Entrepreneurship promoting body at K. J. Somaiya College of Engineering, Mumbai">
    <meta name="google-site-verification" content="sfZdBesrUXPWwnmytZsgEymdT_Brz2EvjYQ36cPVM94">
    <meta name="keywords" content="BloomBox, E-Cell, ecell, partners, sponsors, associates, KJSCE, k j  somaiya college of engineering, entrepreneurship, edc, entrepreneurship development cell, entrepreneurship cell">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="author" content="Team BloomBox">
    <meta name="geo.region" content="IN">
    <link rel="canonical" href="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Common Main CSS-->
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/navigation.css">

    <!-- Partner-Sponsor page CSS-->
    <link rel="stylesheet" href="/sponsors-card.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="_images/BloomBox, E-Cell KJSCE - Logo.png" alt="BloomBox - Logo" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campus-company">Campus Company</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../../events.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Events
                            </a>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/events/2019-20/events">2019-20</a>
                            <a class="dropdown-item" href="/events/2018-19/events">2018-19</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Articles</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../../partners.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Partners
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pages/partners/2019-20/partners">2019-20</a>
                            <a class="dropdown-item active" href="/pages/partners/2018-19/partners">2018-19</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../../team.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Team
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pages/team/2019-20/team">2019-20</a>
                            <a class="dropdown-item" href="/pages/team/2018-19/team">2018-19</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navigation-padding"></div>
    <div class="jumbotron">
        <h1>Sponsors</h1>
    </div>
    <div class="partners-main">
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/xinfin.png" alt="XinFin" title="XinFin Communtiy" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Title Sponsor</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/stratahive.png" alt="Stratahive" title="Stratahive" />
                    </div>
                    <p class="partners-title">Ennovate Title Sponsor</p>
                </div>
            </div>
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="/jetbrains.png" alt="JetBrains" title="JetBrains Software Company" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Software Tool Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/zebronics.png" alt="Zebronics" title="Zebronics" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Audio Partner</p>
                </div>
            </div>
        </div>
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/iide.png" alt="IIDE" title="Indian Institute of Digital Education" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Digital Education Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/ims.jpg" alt="IMS" title="IMS Education" />
                    </div>
                    <p class="partners-title">Higher Education Partner</p>
                </div>
            </div>
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/educba.png" alt="EDUCBA" title="EDUCBA Online Training Courses" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Online Training Course Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/goli.jpg" alt="Goli Vada Pav" title="Goli Vada Pav" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Food Partner</p>
                </div>
            </div>
        </div>
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/hacksociety.jpg" alt="hackSociety" title="hackSociety" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Registration Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/honeybell.png" alt="Honeybell" title="Honeybell Cakes" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Snacks Partner</p>
                </div>
            </div>
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/brijeel.png" alt="Brijeel" title="Brijeel Packaged Drinking Water" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon & Hack-IoT Aqua Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/redbull.png" alt="RedBull" title="RedBull Energy Drinks" />
                    </div>
                    <p class="partners-title">Energy Drink Partner</p>
                </div>
            </div>
        </div>
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/pebblesierra.jpg" alt="Pebble Sierra" title="Pebble Sierra" />
                    </div>
                    <p class="partners-title">Data Analytics Workshop Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/expertshub.png" alt="Experts Hub" title="Experts Hub - Industry Training Partner" />
                    </div>
                    <p class="partners-title">Industry Training Partner</p>
                </div>
            </div>
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/yogapulp.jpg" alt="Yoga Pulp" title="Yoga Pulp Fruit Juice" />
                    </div>
                    <p class="partners-title">Ennovate Beverage Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/tradescrypt.png" alt="Tradescrypt" title="Tradescrypt - A Blockchain Company" />
                    </div>
                    <p class="partners-title">Global Blockchain Hackathon Workshop Partner</p>
                </div>
            </div>
        </div>
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/inspirus.png" alt="Inspirus" title="Inspirus Education" />
                    </div>
                    <p class="partners-title">Higher Education Partner</p>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_sponsors/azent.png" alt="Azent Overseas Education" title="Azent Overseas Education" />
                    </div>
                    <p class="partners-title">Higher Education Partner</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1>Associates</h1>
    </div>
    <div class="partners-main">
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_partners/riidl.png" alt="RIIDL" title="Research Innovation Incubation Design Labs" />
                    </div>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_partners/vps.png" alt="VPS TechHub" title="VPS TechHub - Serve All Well" />
                    </div>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_partners/chaturideas.png" alt="Chatur Ideas" title="Chatur Ideas" />
                    </div>
                </div>
            </div>
        </div>
        <div class="sponsor-partner">
            <div class="partners-column">
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_partners/flyrobe.png" alt="Flyrobe" title="Flyrobe" />
                    </div>
                </div>
                <div class="partners-card">
                    <div class="partners-logo">
                        <img src="_images/_partners/wopreneur.png" alt="Wopreneur" title="Women Entrepreneur Community" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <footer>
        <div class="footer-container">
            <div class="useful-links">
                <h4>Useful Links</h4>
                <h5>Link 1</h5>
                <h5>Link 2</h5>
                <h5>Link 3</h5>
                <h5>Link 4</h5>
            </div>
            <div class="contact-us">
                <h4>Contact Us</h4>
                <div id="contact-us">
                    <a href="tel:08767076522" id="footer-phone">
                        <img src="../../../_images//phone.png" height='25px' />
                        <h5>+91 8767076522</h5>
                    </a>
                    <a href="mailto:baiju.dodhia@somaiya.edu" id="footer-email">
                        <img src="../../../_images//email.png" height='25px' />
                        <h5>bloombox.kjsce@somaiya.edu</h5>
                    </a>
                </div>
            </div>
            <div class="social-media">
                <h4>Follow Us</h4>
                <div id="social-media">
                    <a href="https://www.facebook.com/bloomboxkjsce/" id="footer-facebook">
                        <img src="../../../_images//facebook.svg" height='25px' />
                        <h5>Facebook</h5>
                    </a>
                    <a href="" id="footer-instagram">
                        <img src="../../../_images//instagram.svg" height='25px' />
                        <h5>Instagram</h5>
                    </a>
                    <a href="" id="footer-linkedin">
                        <img src="../../../_images//linkedin.svg" height='25px' />
                        <h5>Linkedin</h5>
                    </a>
                    <a href="" id="footer-twitter">
                        <img src="../../../_images//twitter.svg" height='25px' />
                        <h5>Twitter</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="developedby">
            <h5>&copy; Developed by Team BloomBox</h5>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>